	body{
	/*background-image: url('../images/block2.jpg');*/
	background-repeat: repeat-y;
		}
		table {
			margin-left: 60px;
			border-collapse: collapse;
			border: 1px solid #fff;
		}
		table thead th {
			background-color: #FB6648;
			color: #fff;
			padding: 10px;

		}
		table tbody tr:nth-child(odd) td {background-color: #444444;}
		table thead td {}
		table tbody tr {}
		table tbody td {text-align: center;}