* {
	margin: 0;
	padding: 0;
}
.color-and-float{
color: #666611;
float: left;
box-shadow: inset 0px 0px 6px #222; 

}
/* Essential Start*/
body , div , h1 , h2 h3 , h4 ,h5 ,h6 ,p,header,footer {

}
body {
	background-color: #333;
}	
p {
	line-height:2em;/*pragraph lines height*/
	color: #fff;
	padding: 10px;
}

.clear-fix:after {
	clear:both;
	content: ".";
	visibility: hidden;
	height: 0;
	display: block;
}

#row-1 ,#row-2 {}
.container {
	background-color: #444;

}
/* Essential END*/

/* Heder start*/
.navbar ,.navbar ul ,.navbar li {
	background-color: #222;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar ul ,.navbar li {/* make a big problem to navbare sizes*/
	/*list-style: none;
	float: left;*/
	display: inline;
}
.navbar li {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar a:link ,.navbar a:visited  {
	color:#ff8300;
	text-decoration: none;
}

.navbar li:hover {
	background-color: #777;

}  

.navbar a:hover  {
	color:#fff;
}

.sidebar {

}
.main-page {

}

/* Header END*/





